# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapicms_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Strapi Backend Configuration
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# URL do backend (usado pelo frontend para chamadas à API)
HOST_API=http://localhost:3001
